.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* ---      header      ---*/

.main-header{

	background: rgba(7, 4, 10, 0.87);
}
.container{
	width: 940px;
	margin:0 auto;
}
.logo{
	padding:37px 0;
	float:left;
	
}
.logo a{
	font-size: 24px;
	font-weight: 100;
	text-transform: uppercase;
	color:#fff;
	text-decoration: none;	
}

.main-nav{
	padding:26px 0;
	float:right;}
.main-nav li{
	padding-right: 25px;
	display: inline-block;

}
.main-nav a{
	text-transform: uppercase;
	text-decoration: none;
	list-style-type: none;
	
	font-size: 12px;
	font-weight: bold;
	color:#fff;
}


/* ---      slider      ---*/

.slider{
	margin:0;
	background: #000;
}


.slider-title-block h2{
	padding-top:200px;
	text-align: center;
	font-size: 24px;
	margin: 0;
	color:#fff;
	font-weight: lighter;
	letter-spacing: 5px;
}

.slider-title-block h1{
	color:#fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 100px;
	font-weight: lighter;
	letter-spacing: 45px;
}

.slider-title-block p{
	font-size: 20px;
	line-height: 35px;
	color:#fff;
	text-align: center;
	font-weight: lighter;
	margin-bottom:210px;

}

.slider-presents{
	text-transform: uppercase;
	text-align: center;
	font-size: 24px;
	padding-bottom:75px;
	color:#fff;
	font-weight: lighter;
	letter-spacing: 5px;

}

/* ---      services      ---*/


.service-item:last-child{margin-right: 0}
.service-item{
	width: 300px;
	float:left;
	margin-top:90px;
	margin-right:20px;
	margin-bottom:80px;
}

.service-item img{padding-left:95px;}

.service-item-title{
	font-weight: lighter;
	font-size: 25px;
    margin-top: 30px;
    padding-left: 30px;

}
.service-item p{
	text-align: center;
	
	font-size: 12px;
	line-height: 20px;
}


/* ---      portfolio      ---*/

.portfolio{
	border-top:2px solid #e5e5e5;
	border-bottom:2px solid #e5e5e5;
	padding-bottom:60px;
	
	
}

.portfolio h2{
	margin-top: 85px;
	margin-bottom: 30px;
	font-size: 48px;
	font-weight: 300;
	text-align: center;
}

.portfolio p{
	
	margin:0 auto;
	width: 780px;
	font-size: 16px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 40px;
}

.portfolio-item:last-child{margin-right: 0}
.portfolio-item{
	width: 300px;
	float: left;
	margin-right: 20px
}

.portfolio-item-desc{
	font-size: 18px;
	text-align: center;
	margin-top:15px;
	font-weight: lighter;
}
.portfolio-item span:hover{color:#dd3f19;}
.portfolio-item span{
	display: block;
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
    font-weight: lighter;
}

/* ---      posts     ---*/

.posts h2{
	margin-top: 85px;
	margin-bottom: 30px;
	font-size: 48px;
	font-weight: 300;
	text-align: center;
}
.posts-item:last-child{margin-right: 0}
.posts-item{
	width: 300px;
	float:left;
	margin-right: 20px;
	margin-bottom:80px;
	border-bottom: 1px solid #e5e5e5;

	}
.posts-item a:hover{color:#dd3f19;}
.posts-item a{
	color:#000;
	text-decoration: none;
	font-size: 18px;
	padding-top:30px;
	text-align: center;
	width: 250px;
	margin:0 auto;
	display: block;
	padding-bottom: 12px;
	font-weight: lighter;
}	
.posts-item-kindwork{
	position: relative;
	margin:0 auto;
	padding-bottom: 15px;
	font-size: 11px;
	width:140px;
	margin-bottom: 32px;
}

.posts-item-kindwork:before{
position:absolute;
top:0;
bottom:0;
left: -5px;
width: 100%;
border-bottom:1px solid #e5e5e5;
content:"";
}
.posts-item-info{
	width: 300px;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	padding-bottom: 25px;
border-bottom: 1px solid #e5e5e5;
}

.posts-item-date{
	
	font-size: 11px;
	float:left;
	

	margin:15px 0 15px 50px;
}
.posts-item-comments{

	font-size: 11px;
	float:right;
	

	margin:15px 50px 15px 0;
}


/* ---      footer     ---*/

.main-footer{
	background: rgba(7, 4, 10, 0.87);
}

.footer-title{
	padding-top:70px;
	padding-bottom:32px;
	letter-spacing: 10px;
	font-size: 24px;
	font-weight: 100;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	text-align: center;
}

.main-footer p{
	font-size: 12px;
	margin:0 auto;
	color:#fff;
	width: 688px;
	line-height: 20px;
	letter-spacing: 1px;
}
