.top_side-text {
    font-size: 14px;
}

.top_side-title {
    font-size: 25px;
    font-weight: lighter;
    padding-bottom: 10px;
}
.top_side-column{
	margin-right:50px;
	padding-top:40px;
	float:left;
}
.top_side-column:nth-child(3){
	
	float:right;
	width:400px;
}

.top_side-email {
    padding-top: 41px;
    font-size: 12px;
}
.top_side-phone {
    font-size: 12px;
     /*line-height: 1.3;*/
    padding-top: 4px;
   /* margin-bottom: 1px;*/
   
}
.1top_side:before{
	border: 10px solid transparent;	border-top: 10px solid #dd3f19;
	/*background-color: #dd3f19;*/
	position:absolute;
	top:220px;
	
	bottom:0;
	right: 360px;
	/*width:10px;
	height:10px;*/

	
	content:"";

}

.top_side{
	overflow: hidden;
	background-color: #dd3f19;
	/*position:fixed;*/
	left:0;
	top:0;
	width: 100%;
	height: 0;
	z-index: 10;
	color:#fff;
	visibility:hidden;
	-webkit-transition: all .8s;
	-o-transition: all .8s;
	transition: all .8s;

}
.top_side.active{
	-webkit-transition: all .8s;
	-o-transition: all .8s;
	transition: all .8s;
	height:220px;
	z-index: 20;
	visibility:visible;

}
.top_side_cont{
	font-size: 25px;
	font-weight: lighter;
	
	padding-bottom:10px;
}

.top_side_adress{
	line-height: 1.5;
	font-size: 12px;
	font-weight: lighter;

}
.btn-top_side:hover{
	border-color:black;
	background-color: rgba(7, 4, 10, 0.87);
	-webkit-transition: all .5s ;
	-o-transition: all .5s ;
	transition: all .5s ;
}
.btn-top_side:active{
	background: rgb(98, 99, 101);
	border:1px solid black;}
.btn-top_side{
	text-decoration: none;
	color:#fff;
	padding:15px;
	border:1px solid #ee9f8c;
	border-radius: 2px;
	display:inline-block;
	margin-top:20px;
	font-size: 11px;}

/****** BTN ***********/

.btn_mnu:hover{
	
	border-bottom: 2px solid #dd3f19;
	padding-bottom:42px;
	background: #000;}
.main-nav a{
	display:block;
	
	text-transform: uppercase;
	text-decoration: none;
	list-style-type: none;
	padding: 44px 22px;
	font-size: 12px;
	font-weight: bold;
	color:#fff;
}
textarea{
	margin-left: 50px;
	width: 592px;
	overflow: auto;
}
input, textarea{
	display:block;
	    border-radius: 3px;
    margin-bottom: 15px;
    /* padding-bottom: 20px; */
   
    border: 1px solid #4b4949;
    color: #fff;
    background-color: inherit;
    padding: 10px;
    padding-left:15px;
    outline:none;
}

input[type=name]{
	width: 270px;
	margin-left:50px;
	float:left;
}

input[type=text]{
	margin-left:50px;
	width: 592px;
	margin-right:50px;
	overflow: hidden;
	

}
input[type=email]{
	width: 270px;
	
	margin-right: 50px;
	float:right;
}

.email-form-desc{
	text-align: center;
	color:#fff;
	padding:20px 50px 30px 50px;
	font-size: 12px;
	
}
.email-form.active + body{background-color: #000;}
.email-form.active{


	visibility: visible;
}
.slider.activse{opacity:.3;}
.email-form-btn:active{
	background-color: #752e27;
}
.email-form-btn{
	
	display:block;
	width:125px;
	margin:0 auto;
	color:#fff;
	background-color: #dd3f19;
	outline:none;
	padding:15px 20px;
	border:none;
}
.closed{
	float:right;
	padding:10px;
	
	display:inline-block;
}
.top_side-closed{
	float:right;
	margin:2px;
	padding:10px;
	display: inline-block;
}
.one {
	
    width: 17px;
    height: 0px;
    background-color: white;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);


    display: block;
    padding: 1px;
    top: 13px;
    left: 696px;
    position: relative;
}
.two {
    width: 19px;
    height: 2px;
    background-color: white;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);

    display: block;
    padding: 0px;
    top: 11px;
    left: 696px;
    position: relative;
}




.email-form{

	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	border-radius: 2px;
	visibility: hidden;
	position:absolute;
	border: 1px solid white;
	width:720px;
	height:500px;
	margin:0 auto;
	left:27%;
	top:36%;
	background: #201d1c;
	opacity: 1;
	z-index: 22;

	
}
.email-form-title{
	text-align: center;
	font-size: 48px;
	padding-top:25px;
	
	color:#fff;
}
.popup.active{

}
.popup{
	
	
}
.btn_mnu {
	padding: 44px 22px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	color:#fff;
	display:block;
	
	/*width: 50px;
	height: 50px;*/
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	cursor: pointer;
	position: relative;
}
.btn_row {
	height: 2px;
	width: 60%;
	margin: 2px 0;
	background-color: #fff;
	position: relative;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.btn_mnu.active .btn_row:first-child {
	-webkit-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
	top: 6px;
}
.btn_mnu.active .btn_row:last-child {
	-webkit-transform: rotate(-225deg);
	-ms-transform: rotate(-225deg);
	-o-transform: rotate(-225deg);
	transform: rotate(-225deg);
	top: -6px;
}
.btn_mnu.active .btn_row:nth-child(2) {
	opacity: 0;
}


/*************************/


.body{
	font-weight: lighter;
	font-family: "MyriadProRegular", sans-serif;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* ---      header      ---*/

.main-header{

	background: rgba(7, 4, 10, 0.87);
}
.container{

	width: 940px;
	margin:0 auto;
}
.logo{
	padding:30px 0;
	float:left;
	
}
.logo a{
	letter-spacing: 3px;
	font-size: 24px;
	font-weight: 100;
	text-transform: uppercase;
	color:#fff;
	text-decoration: none;
	position: absolute;
	
}
.logo span{
	position: relative;
	top: 5px;
    padding: 0 2px 0 2px;
	}
.logo a img{

	


}

.main-nav{

	float:right;}
.main-nav li{

	display: inline-block;

}
.main-nav ul{
	padding:0;
	margin: 0;
}
.main-nav a:hover{
	border-bottom: 2px solid #dd3f19;
	padding-bottom:42px;
	background: #000;}
.main-nav a{
	display:block;
	
	text-transform: uppercase;
	text-decoration: none;
	list-style-type: none;
	padding: 44px 22px;
	font-size: 12px;
	font-weight: bold;
	color:#fff;
}


/* ---      slider      ---*/

.slider{
	margin:0;
	background: #000;
}


.slider-title-block h2{
	padding-top:200px;
	text-align: center;
	font-size: 24px;
	margin: 0;
	color:#dd3f19;
	font-weight: lighter;
	letter-spacing: 5px;
	
}

.slider-title-block h1{
	color:#fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 100px;
	font-weight: 100;
	letter-spacing: 31px;
	
}

.slider-title-block p{
	font-size: 20px;
	line-height: 35px;
	color:#fff;
	text-align: center;
	font-weight: lighter;
	margin-bottom:210px;
	

}

.slider-presents{
	text-transform: uppercase;
	text-align: center;
	font-size: 24px;
	padding-bottom:75px;
	color:#fff;
	font-weight: lighter;
	letter-spacing: 5px;
	font-family: "MyriadProRegular", sans-serif;

}

/* ---      services      ---*/


.service-item:last-child{margin-right: 0}
.service-item{

	width: 300px;
	float:left;
	margin-top:90px;
	margin-right:20px;
	margin-bottom:80px;
}

.service-item img{
	padding-bottom: 25px;
	padding-left:95px;}

.service-item-title a:hover{color:#dd3f19;}
.service-item-title a{
	    color: #000;
    font-weight: lighter;
    font-size: 23px;
    /* width: 324px; */
    /* margin: 0 auto; */
    display: block;
    text-align: center;
    margin-top: 30px;
    /* padding-left: 22px; */
    text-decoration: none;

}
.service-item p{
	text-align: center;
	
	font-size: 12px;
	line-height: 20px;
}


/* ---      portfolio      ---*/

.portfolio{
	border-top:2px solid #e5e5e5;
	border-bottom:2px solid #e5e5e5;
	padding-bottom:60px;
	
	
}

.portfolio h2{
	margin-top: 85px;
	margin-bottom: 30px;
	font-size: 48px;
	font-weight: 300;
	text-align: center;
}

.portfolio p{
	
	margin:0 auto;
	width: 780px;
	font-size: 16px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 40px;
}

.portfolio-item:last-child{margin-right: 0}
.portfolio-item{
	width: 300px;
	float: left;
	margin-right: 20px
}
.portfolio-item-desc:hover{color:#dd3f19;}
.portfolio-item a{
	padding-top: 10px;
    margin:0 auto;
    width:295px;
    text-decoration: none;
    font-size: 18px;
    color: #000;
    
    margin-top: 15px;
    font-weight: lighter;
    display: inline-block;
}
.portfolio-item-desc{
	font-size: 18px;
	text-align: center;
	margin-top:15px;
	font-weight: lighter;
}
.portfolio-item span:hover{color:#dd3f19;}
.portfolio-item span{
	display: block;
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
    font-weight: lighter;
}

/* ---      posts     ---*/

.posts h2{
	margin-top: 85px;
	margin-bottom: 30px;
	font-size: 48px;
	font-weight: 300;
	text-align: center;
}
.posts-item:last-child{margin-right: 0}
.posts-item{
	width: 300px;
	float:left;
	margin-right: 20px;
	margin-bottom:80px;
	border-bottom: 1px solid #e5e5e5;

	}
.posts-item a:hover{color:#dd3f19;}
.posts-item a{
	color:#000;
	text-decoration: none;
	font-size: 18px;
	padding-top:30px;
	text-align: center;
	width: 250px;
	margin:0 auto;
	display: block;
	padding-bottom: 12px;
	font-weight: lighter;
}	
.posts-item-kindwork{
	position: relative;
	margin:0 auto;
	padding-bottom: 15px;
	font-size: 11px;
	width:140px;
	margin-bottom: 32px;
}

.posts-item-kindwork:before{
position:absolute;
top:0;
bottom:0;
left: -5px;
width: 100%;
border-bottom:1px solid #e5e5e5;
content:"";
}
.posts-item-info{
	width: 300px;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	padding-bottom: 25px;
border-bottom: 1px solid #e5e5e5;
}

.posts-item-date{
	
	font-size: 11px;
	float:left;
	

	margin:15px 0 15px 50px;
}
.posts-item-comments{

	font-size: 11px;
	float:right;
	

	margin:15px 50px 15px 0;
}


/* ---      footer     ---*/

.main-footer{
	background: rgba(7, 4, 10, 0.87);
}

.footer-title{
	padding-top:85px;
	padding-bottom:32px;
	letter-spacing: 10px;
	font-size: 24px;
	font-weight: 100;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	text-align: center;
}

.main-footer p{
	font-size: 12px;
	margin:0 auto;
	color:#fff;
	width: 697px;
	line-height: 20px;
	letter-spacing: 1px;
	padding-bottom: 50px
}

.footer-social-links {

	width: 295px;
	margin:0 auto;
	border:1px solid #504b51;
	border-radius: 3px;
	

}
.footer-social-links ul{margin:0;padding:0;}
.footer-social-links li:last-child{margin-right:20px;}
.footer-social-links li {
	display:inline-block;
	margin:15px 0 15px 20px;

}

.footer2{
	padding: 50px;
	background: rgba(7, 4, 10, 0.87);
}




/* font-family: "MyriadProRegular"; */
@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProBold"; */
@font-face {
    font-family: "MyriadProBold";
    src: url("../fonts/MyriadProBold/MyriadProBold.eot");
    src: url("../fonts/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProBold/MyriadProBold.woff") format("woff"),
    url("../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProItalic"; */
@font-face {
    font-family: "MyriadProItalic";
    src: url("../fonts/MyriadProItalic/MyriadProItalic.eot");
    src: url("../fonts/MyriadProItalic/MyriadProItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProItalic/MyriadProItalic.woff") format("woff"),
    url("../fonts/MyriadProItalic/MyriadProItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProSemiBold"; */
@font-face {
    font-family: "MyriadProSemiBold";
    src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot");
    src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"),
    url("../fonts/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProBoldItalic"; */
@font-face {
    font-family: "MyriadProBoldItalic";
    src: url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot");
    src: url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.woff") format("woff"),
    url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProSemiBoldItalic"; */
@font-face {
    font-family: "MyriadProSemiBoldItalic";
    src: url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot");
    src: url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.woff") format("woff"),
    url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.footer-title a{

	letter-spacing: 3px;
	font-size: 24px;
	font-weight: 100;
	text-transform: uppercase;
	color:#fff;
	text-decoration: none;
	
}

.footer-title span{
	position: relative;
	top: 5px;
    padding: 0 2px 0 2px;
	}